@import 'tailwindcss';

@theme {
    --font-display: 'sans-serif';
    --font-logo: 'Chango';
    --breakpoint-3xl: 120rem;

    --color-primary: #1a4d2e;
    --color-secondary: #ff8c00;
    --color-terciary: #063016;
    --color-button: #2563eb;
    --color-card: #fff;

    --text-color-primaryText: #f3f4f6;
    --text-color-secondaryText: #1a4d2e;

    --color-shadow: #212121;
}

@layer base {
    html {
        scrollbar-width: thin;
        scrollbar-color: #063016 #1a4d2e;
    }

    :is(h1, h2, h3, h4, h5, h6) {
        text-wrap: balance;
    }

    p {
        text-wrap: pretty;
    }

    button {
        cursor: pointer;
    }
}

@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

body {
    @apply min-h-screen bg-zinc-50 dark:bg-[#282a36] text-zinc-700 dark:text-zinc-300;
}

.dark {
    --color-primary: #101828;
    --color-secondary: #1a1a2e;
    --color-terciary: #212121;
    --color-button: #021a44;
    --color-card: #101828;

    --text-color-primaryText: #bababa;
    --text-color-secondaryText: #bababa;

    --color-shadow: #101828;

    scrollbar-width: thin;
    scrollbar-color: #262a45 #101828;
}
